{
  "env": {
    "browser": true,
    "es2021": true
  },
  "settings": {
    "extensions": [".js", ".jsx", ".ts", ".tsx"]
  },
  "extends": ["airbnb", "prettier"],
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "rules": {
    "react/react-in-jsx-scope": "off",
    "import/extensions": "off",
    "no-alert": "off",
    "react/self-closing-comp": "off",
    "react/button-has-type": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "import/no-extraneous-dependencies": "off"
  }
}
