:root {
    --color-background: #202022;
    --color-black: #000;
    --color-primary: #40B4C6;
    --color-secondary: #CAE3FB;
    --color-tertiary: #2471C8;
    --color-text: #4f4f4f;
    --color-white: #ffffff;
    --color-red: #e74c3c;
    --color-green: #2ecc71;
}