:root {
    --color-background: #202022;
    --color-black: #000;
    --color-primary: #40b4c6;
    --color-secondary: #cae3fb;
    --color-tertiary: #2471c8;
    --color-text: #4f4f4f;
    --color-white: #ffffff;
    --color-red: #e74c3c;
    --color-green: #2ecc71;
}